# custom ----------------------------------------------------------------------------

snippet bootstrap_colours
	/* bootstrap colors */
	:root {
		--bootstrap_red: #d9534f
		--bootstrap_white: #f9f9f9
		--bootstrap_lightblue: #5bc0de
		--bootstrap_green: #5cb85c
		--bootstrap_blue: #428bca
		--bootstrap_button_blue #337ab7
		--bootstrap_button_green: #5cb85c
		--bootstrap_button_lightblue: #5bc0de
		--bootstrap_button_orange: #f0ad4e
	}
